<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <style>
        body { font-family: Arial, sans-serif; }
    </style>
</head>
<body>
    <h2>New order received.</h2>
    <p><strong>Name:</strong> {{ full_name }}</p>
    <p><strong>Phone number:</strong> {{ phone_number }}</p>
    <p><strong>Address:</strong> {{ address }}</p>

    <h3>Products:</h3>
    <ul>
        {% for item in items %}
            <li>{{ item.product.title }} x {{ item.count }} = {{ item.total_price }}</li>
        {% empty %}
            <li>Нет товаров</li>
        {% endfor %}
    </ul>
</body>
</html>
